<div class="container">
  <ul>
    <li>
      <button
        class="btn btn-outline-primary"
        (click)="generateRandomCarsOnCLick()"
      >
        Generate cars
      </button>
    </li>
    <li><button class="btn btn-info">Race</button></li>
    <li><button class="btn btn-danger">Reset</button></li>
  </ul>

  <li class="border mb-2" *ngFor="let item of data">
    <app-car [car]="item"></app-car>
  </li>
  <div class="pagination" *ngIf="pagination.totalItems > pagination.limit">
    <button
      class="btn"
      (click)="onPageChange(pagination.page - 1)"
      [disabled]="pagination.page === 1"
    >
      Previous
    </button>
    <span>{{ pagination.page }} / {{ totalPages() }}</span>
    <button
      class="btn"
      (click)="onPageChange(pagination.page + 1)"
      [disabled]="pagination.page * pagination.limit >= pagination.totalItems"
    >
      Next
    </button>
  </div>
</div>
